<div class= "container">
  <div class="myparties">
    <h2>My parties</h2>
  </div>
  <div class="d-flex flex-wrap container">
    <% @parties.each do |party| %>
      <div class="list-parties">
        <h5><%= link_to party.name, party_path(party) %></h5>
      </div>
    <% end %>
  </div>
  <div id="back" class="fas fa-arrow-left">
    <%= link_to "Back", dashboard_path %>
  </div>
</div>
