<h1>New Party ! </h1>

<div class="justify-content-center"%>

  <%= simple_form_for(@party) do |f| %>
    <div class="p-2 bd-highlight">
      <%= f.input :name,
                  label: "Party Name" %>
    </div>
    <div class="p-2 bd-highlight">
      <%= f.input :user_ids,
                  as: :check_boxes,
                  collection: current_user.friends.map { |e| [e.full_name, e.id] },
                  label: "Add your friend",
                  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
    </div>
    <%= f.submit %>
  <% end %>
</div> %>
