.round-buddy {
  color: white ;
  font-weight: normal;
  font-family: "Work Sans", "Quicksand", "sans-serif";
  margin-bottom: 10px;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: white;
  position: relative;
}

.my-buddies {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.sous-title-1-dash {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.sous-title-2-dash {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}

.badgey-icon {
  margin-bottom: 20px;
  margin-left: 27px;
}

.text-banner h5 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #55CFB3;
}

.link a {
  text-decoration: none;
  text-align: start;
  color:white;
}

.link h5 {
  width: max-content;
  text-align: left;
  color: white;
  margin-left: 20px;
  background: #654fdc;
  padding: 3px 10px 3px 10px;
  border-radius: 0;
  box-shadow: 3px 4px #7665db;
  margin-bottom: 20px;
  font-size: 18px;
  border: 3px solid #543fc9;
}


.link img {
  width: 40px;
}

.icon-link-party {
  margin-right: 10px;
}

.link {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.round-buddy-2 {
  border: black 10px;
  a {
    text-decoration: none;
    /* border-radius: 50%; */
    font-weight: normal;
    font-family: "Work Sans", "Quicksand", "sans-serif";
    margin-bottom: 10px;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:white;
    color: black;
  }
}




#toggle_poubelle:checked {
  &~.round-buddy a {
    display: block;
    color: #7E73FF;
  }
}

#toggle_poubelle {
  display: none;
  &~.round-buddy a {
    display: none;
  }
}


i.fas.fa-minus-circle.custom-circle {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  padding: 0px;
  top: 0;
  right: 0;
  transform: scale(1);
  color: black;
}

.tag_item {
  padding-top: 10px;
}

#toggle_poubelle {
  position: absolute;
  transform: scale(0);
}

#toggle_poubelle + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.1rem 0;
  color: black;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  position: absolute;
  top: 5px;
  right: -10px;
}

#toggle_poubelle:checked + label {
  border-bottom: 1px solid black
}
