
.list-parties {
width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: left;
    color: white;
    margin-left: 20px;
    background: #9de9f4;
    padding: 0px 10px 0px 11px;
    border-radius: 0;
    box-shadow: 3px 4px #6b98bc;
    margin-bottom: 20px;
    font-size: 21px;
    border: 3px solid #6b98bc;
    a {
      text-decoration: none;
      color:white;
    }
    }



    .myparties {
      padding-right: 215px;
      padding-bottom: 20px;
    }

    #back {
      padding-top: 20px;
      padding-left: 35px;
      transform: scale(1.2);
    }

    #back a {
      text-decoration: none;
      color: black;
      opacity: 30px;
      padding-bottom: 20px;
      font-family: "Apercu-bold", "Quicksand", "sans-serif";
    }
