.landing-container {
  padding-top: 50px;
  padding: 35px;
}

.text-container h1 {
  color: black;
  text-align: right;
  box-shadow: 3px;
  box-shadow: 7px 6px black;
}


.title-landing {
    display: flex;
    margin-left: 180px;
    margin-bottom: 130px;
    padding-bottom: 3px;
    margin-top: 65px;
    padding-top: 0px;
}
