.show-container{
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
}


#end-party-btn {
    text-decoration: none;
    position:unset;
    background: #9de9f4;
    border: 3px solid #6b98bc;
    box-shadow: 3px 4px #6b98bc;
    top: auto;
    margin-left:auto;
}

  #myDrinksModal {
    box-shadow: 0 2px 0 2px #888;
    color: #55CFB3;
    border: 3px solid #3CC4C9;
    background: white;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width:300px;
    }

  #addADrinkModal,
  #addADrinkModal2,
  #exampleModal {
    top: auto;
    bottom: 0;
    height: auto;
}


 #rate-status {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 8px;
  width:300px;
  position: unset;
}



#end-party-btn:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
