<div class="footer">
  <% if user_signed_in? %>
    <div class="footer-links">
      <a href="/users/edit" class="<%= "active" if controller.controller_name === "registrations" && controller.action_name === "edit" %>">
        <div class= "profile">
          <i class="fas fa-user"></i>
        </div>
      </a>
      <a href="/parties" class="<%= "active" if controller.controller_name === "parties" && controller.action_name === "index" %>">
        <div class= "party">
          <i class="fas fa-glass-cheers"></i>
        </div>
      </a>
    </div>
  <% end %>
</div>
