<div class="navbar-lewagon ">
  <% if user_signed_in? %>

      <h1>Drunked.</h1>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= current_user.first_name.chr %>
      <% end %>
    <% end %>
</div>
