<div class="navbar-lewagon ">
  <span class="Welcome"><%= "Welcome #{current_user.first_name}" %></span>
  <%= link_to "#", class: "navbar-brand" do %>
    <%= current_user.first_name.chr %>
  <% end %>
</div>
