.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.rd-purple {
  background-color: #e2afff;
}

.rd-corail {
  background-color: #f07167;
}

.rd-blue {
  background-color: #aed9e0;
}

.rd-pink {
  background-color: #ffa69e;
}

.rd-acqua {
  background-color: #b8f2e6;
}

.rd-blue-clr {
  background-color: #48cae4;
}

.rd-orange {
  background-color: #f4a261;
}

.rd-red {
  background-color: #fe6d73;
}

.round-buddy img {
  border-radius: 50%;
  width: 60px;
  height: 60px;

}


.round-nav img {
  border-radius: 50%;
  width: 60px;
  height:60px;
}
