.baner-dash {
  color:  #55CFB3;
  border: 3px solid #ffb3c1;
  background:  #fec5bb;
  padding: 8px 24px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  margin: 11px;
  height: 43px;
  margin-bottom: 40px;
    /* text-align: center; */
}

h5 {
  text-align:left;
}
