.baner-dash {
  color:  #55CFB3;
  border: 3px solid #55CFB3;
  background:  white;
  padding: 8px 70px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  margin: 11px;
  height: 43px;
  margin-bottom: 40px;
    /* text-align: center; */
}

h5 {
  text-align:center;
}


.baner-dash h5 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #55CFB3;
}
