.btn-drunked {
    color: white;
    /* border: 3px solid black; */
    background: #ff7c71;
    padding: 8px 24px;
    border-radius: 0;
    text-decoration: none;
    display: flex;
    margin: 11px;
    /* text-align: center; */
    border: 3px solid #b34e46;
    justify-content: center;
    box-shadow: 5px 3px #b34e46;
    font-family: 'Apercu-bold';
    position: sticky;
    font-size: large;
    input {
    background-color: transparent;
    border: none;
    color: white;
}
    }

.btn_landing {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.btn-drunked:active {
  opacity: 0.5;
}


.btn-small {
  width: 25%;
}

.btn-medium {
  width: 70%;
}

.btn-big {
  width: 90%;
  font-style:bold;
}
