.main_wrapper {
  background-color: white;
  background-size: cover;
  min-height:100vh;
  margin-bottom: 10vh;
}

body#sessions-new .main_wrapper,
body#pages-landing .main_wrapper,
body#registrations-new .main_wrapper {
    margin-bottom: 0;
}
